@page
@model ThirdVendingWebApi.Pages.Account.LoginModel
@{
  ViewData["Title"] = "Вход";
}
<div class="row welcome" id="logForm">
    <!-- Контент -->
    <section class="col-12">
        <h4 class="text-center">Добро пожаловать в систему мониторинга<br/>«Третий кран»</h4>
        <p class="text-center">Для начала работы нужно войти в систему</p>

        <div class="welcome-form" id="loginForm">
            <div class="alert alert-danger" id="authenticationError" role="alert" style="display: none">
                <i class="fa fa-warning" aria-hidden="true">
                </i>&nbsp;&nbsp;Неверный email/телефон или пароль.
            </div>
            <div class="alert alert-warning" id="capsLock" role="alert" style="display: none">
                <i class="fa fa-warning" aria-hidden="true">
                </i>&nbsp;&nbsp;«CapsLock» включен.
            </div>

            <div id="formWidget" autocomplete="on"></div>

            <div class="form-inline">
                <button id="btnLogin" onclick="login_post()" class="btn btn-primary mb-2 mt-2 mr-4"><i class="fa fa-sign-in pr-2"></i>&nbsp;Войти</button>
                <a href="#" data-toggle="modal"
                   data-target="#passPopup" title="Вы забыли пароль?">
                    Вы забыли пароль?
                </a>
            </div>
        </div>

        <div class="welcome-footer">
            <p class="text-center">У вас нет аккаунта? Создайте новый.</p>
            <a onclick="register()" class="btn btn-warning btn-block" role="link"><i class="fa fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Зарегистрироваться</a>
            <a href="http://3voda.ru/vopros-otvet" target="_blank" class="btn btn-info btn-block mt-3" role="link"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Частые вопросы</a>
            <p>
                Актуальная информация о продукции, услугах и деятельности компании размещена на нашем сайте
                <a href="http://3voda.ru" target="top" title="Перейти на сайт компании">
                    <span style="text-decoration: underline; color: #333333;">
                        <b>3voda.ru</b>
                    </span>
                </a>. Будьте в курсе событий!
            </p>
        </div>
        <br/>
    </section>
</div>


<div class="modal" tabindex="-1" role="dialog" id="passPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordRecovery"><i class="fa fa-key text-warning" aria-hidden="true"></i>&nbsp;Сброс пароля</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div>
                    <label for="recEmail">
                        <b>Email</b>
                    </label>
                    <div id="recEmail" name="recEmail"></div>
                </div>
                <small class="form-text text-muted">Введите email, указанный при регистрации.</small>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" class="btn btn-primary fa fa-arrow-circle-right" onclick="init_reset(event)" disabled id="send"> Выслать новый</button>
            </div>
            <div class="text-muted mx-4 mb-4 small">
                <i class="fa fa-info-circle text-warning"></i>&nbsp;В личном кабинете вы можете в любое время заменить полученный пароль на свой.
            </div>
        </div>
    </div>
</div>
<script>
    function register() {
        window.location.replace("/Account/Register");
    }

    $(document).keypress(function(e){
        if (e.which === 13){
            $("#btnLogin").click();
        }
    });
    //window.onload = function() {
    //    var request = $.getJSON('/api/account', null);
    //    request.then(function(data) {
    //        sessionStorage.setItem(accountKey, JSON.stringify(data));
    //        document.getElementById("navbarDropdown").style.visibility = "visible";
    //        document.getEle mentById("navbarDropdown").innerHTML = "visible";
    //        window.location.replace("/Account/Settings");
    //    });
    //request.then();
    //request.done(function(data) {
    //    sessionStorage.setItem(accountKey, JSON.stringify(data));
    //                document.getElementsByTagName("navbarDropdown")[0].style.visibility = "visible";
    //                document.getElementsByTagName("navbarDropdown")[0].text = "visible";
    //    window.location.replace("/Account/Settings");
    //});
    //}
    //$(function() {
    //    var request = $.getJSON('/api/account', null);

    //    request.done(function(data) {
    //        account = data;
    //        window.location.replace("/Account/Settings");
    //    });

    //});

    $(document).ready(
        function() {
            check_capslock_form($('#logForm')); //applies the capslock check to all input tags
        }
    );

    document.onkeydown = function(e) { //check if capslock key was pressed in the whole window
        e = e || event;
        if (e.keyCode === 20) {
            window.capsLockEnabled = !window.capsLockEnabled;
            $('#capsLock').toggle();
        }

    };

    function check_capslock(e) { //check what key was pressed in the form
        var s = String.fromCharCode(e.keyCode);
        if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
            $('#capsLock').show();
        } else {
            $('#capsLock').hide();
        }
    }

    function check_capslock_form(where) {
        if (!where) {
            where = $(document);
        }
        where.find('input,select,div').each(function() {
            if (this.type !== "hidden") {
                $(this).keypress(check_capslock);
            }
        });
    }

    function setAuth(dt) {
        var nst = "none";
        if (dt === false) nst = "block";
        document.getElementById("authenticationError").style.display = nst;
    }

    function login_post() {
        var valid = $('#formWidget').dxForm('instance').validate();
        if (valid.isValid === false) return;

        setAuth(true);

        var data = $('#formWidget').dxForm('instance').option('formData');

        var request = $.postJSON('/api/Authenticate', data, postOk);

        request.fail(function() {
            setAuth(false);
        });
    }

    function postOk(data) {
        sessionStorage.setItem(tokenKey, data.id_token);
        //window.location.replace("/Account/Settings");
        window.location.replace("/");
    }

    function init_reset(e) {
        var valid = $("#recEmail").dxValidator("instance").validate().isValid;
        if (valid === false) return;

        var email = $('#recEmail').dxTextBox('instance').option('value');

        var request = $.postJSON('/api/account/reset-password/init', email, $('#passPopup').modal('hide'));

        request.fail(function (data) {
            e.preventDefault(); //
            //DevExpress.ui.dialog.alert(data.responseText, "Ошибка");
        });

    }

    $("#recEmail").dxTextBox({
        placeholder: "yourname@site.ru",
        mode: "email",
        hint: "Введите email, указанный при регистрации."
    }).dxValidator({
        onValidated: function (params) {
            document.getElementById("send").disabled = !params.isValid;
        },
        validationRules: [
            {
                type: "required",
                message: "Введите email."
            },
            {
                type: "email",
                message: "Неверный email."
            }
        ]
    });

    $(function() {
        $("#formWidget").dxForm({
            formData: {
                username: "",
                password: ""
            },
            items: [
                {
                    dataField: "username",
                    editorType: "dxAutocomplete",
                    label: {
                        text: "Email",
                        visible: false
                    },
                    elementAttr: {
                        autocomplete: "on"
                    },
                    editorOptions: {
                        placeholder: "Введите email или телефон",
                        showClearButton: true,
                        inputAttr: { 'autocomplete': 'on' }
                    },
                    validationRules: [
                        {
                            type: "required",
                            message: "Введите email или телефон"
                        }
                    ]
                },
                {
                    dataField: "password",
                    editorType: "dxAutocomplete",
                    label: {
                        text: "Пароль",
                        visible: false
                    },
                    elementAttr: {
                        autocomplete: "on"
                    },
                    editorOptions: {
                        placeholder: "Введите пароль",
                        mode: "password",
                        showClearButton: true,
                        inputAttr: { 'autocomplete': 'on' }
                    },
                    validationRules: [
                        {
                            type: "required",
                            message: "Введите пароль"
                        }
                    ]
                }
            ]
        });
    });
</script>

