@page
@model ThirdVendingWebApi.Pages.EmailSender.IndexModel
@{
}
<div class="row admin-dashboard">
    <section class="col-12 col-lg-6 col-xl-4 left">
        <div id="mailTheme"></div>
        <div id="mailBody"></div>
        <div id="mailSendBtn"></div>
    </section>

    <section class="col-12 col-lg-6 col-xl-4">
        <div id="mailDestTable"></div>
        <div id="mailSendBtn"></div>
    </section>

    <section class="col-12 col-lg-6 col-xl-4 right">
        <div id="mailUsersTable"></div>
    </section>
</div>

<script>
    var mailDestList = [];


</script>
