@page
@model ThirdVendingWebApi.Pages.Account.SettingsModel
@{
}

<div id="form"></div>

<script>
    $(function() {
        var form = $("#form").dxForm({
            //formData: companies[0],
            readOnly: true,
            showColonAfterLabel: true,
            labelLocation: "top",
            minColWidth: 300,
            colCount: 4
        }).dxForm("instance");

        const accStr = sessionStorage.getItem(accountKey);
        if (!accStr) {
            const request = $.getJSON('/api/account', null);

            request.done(function(data) {
                const strData = JSON.stringify(data);
                sessionStorage.setItem(accountKey, strData);
                //$('#lbl').text(JSON.stringify(strData));
                $("#form").dxForm('instance').option('formData', data);
            });
        } else {
            //$('#lbl').text(accStr);

            $("#form").dxForm('instance').option('formData', JSON.parse(accStr));
        }
    });
</script>
