@using DeviceDbModel.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThirdVendingWebApi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/navbar.min.css" />
    <link rel="stylesheet" href="~/css/global.min.css" />
    <link rel="stylesheet" href="~/css/login.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/dist/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/dist/css/dx.light.css" />
    <script src="~/lib/devextreme/dist/js/dx.all.js"></script>
    <script src="~/lib/devextreme/dist/js/dx.aspnet.mvc.js"></script>
    <script src="~/lib/devextreme/dist/js/localization/dx.messages.ru.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">

            <a class="navbar-brand logo float-left text-light" href="/Index">@*routerLink="/" (click)="collapseNavbar()">*@
                <span class="logo-img"></span>
                &nbsp;&nbsp;&nbsp;«Третий кран»<span class="slogan_cut"> – математика чистой воды</span>
            </a>

            @*<img src="~/images/tretkran-logo.png"/>*@
            @*<a class="navbar-brand" href="#">Третий кран</a>*@

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    
                    @*<li class="nav-item text-light">
                        <a class="nav-link text-light" asp-area="" asp-page="/Log">Log</a>
                    </li>*@
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fa fa-user-circle-o" style="display: none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @*<span>
                                <i class="fa fa-user-circle-o" aria-hidden="true">Dropdown</i>
                            </span>*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-page="/Dashboard/Index">Кабинет вендора</a>
                            @*<a class="dropdown-item" asp-area="" asp-page="/Account/Login">Login</a>*@
                            <a class="dropdown-item" href="/">Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>*@
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer txt0">
        <div class="container-fluid txt0">
            <p class="text-center txt0">
                <a class="txt0" href="http://3voda.ru" target="top" title="Перейти на сайт компании">© ООО «Торговый дом «Третий кран», 2021-@DateTime.Now.Year</a>
                <br />
                Техподдержка: <b>+7-992-231-30-03</b> (Viber, WhatsApp)
            </p>

            <p class="text-center">
                <a href="https://vk.com/3voda" target="_blank" title="Мы ВКонтакте"
                   class="btn btn-primary active btn-circle btn-social-icon btn-vk" role="button" aria-pressed="true">
                    <i class="fa fa-vk"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/tdtretkran/" target="_blank" title="Мы в Facebook"
                   class="btn btn-primary active btn-circle btn-social-icon btn-facebook" role="button" aria-pressed="true">
                    <i class="fa fa-facebook"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.youtube.com/channel/UCUsYs_b9OlePn7LJLmX39wA/videos?view_as=subscriber" target="_blank" title="Мы на YouTube"
                   class="btn btn-danger active btn-circle btn-social-icon" role="button" aria-pressed="true">
                    <i class="fa fa-youtube"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/tretiikran/" target="_blank" title="Мы в Instagram"
                   class="btn btn-light btn-circle btn-social-icon btn-instagram" role="button" aria-pressed="true">
                    <i class="fa fa-instagram"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>

<script>
    $(function() {
        const menu = document.getElementById("navbarDropdown");
        //$('#navbarDropdown').toggle();
        const accStr = sessionStorage.getItem(accountKey);
        if (accStr) {
            const acc = JSON.parse(accStr);
            const name = ` ${getUserName(acc)}`;
            menu.style.display = "block";
            //$('#navbarDropdown').show();
            menu.innerHTML = ` ${name}`;
        } else {
            menu.style.display = "block";
            //$('#navbarDropdown').hide();
            menu.innerHTML = " Инкогнито";
        }
    });

    function logout() {
        sessionStorage.removeItem(tokenKey);
        sessionStorage.removeItem(accountKey);
        window.location.replace("/");
    }
</script>
