@using DeviceDbModel.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Система мониторинга торговых автоматов “Третий кран”</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/navbar.min.css" />
    <link rel="stylesheet" href="~/css/global.min.css" />
    <link rel="stylesheet" href="~/css/login.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.min.css" />
    <link rel="stylesheet" href="~/css/admin.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    
    <script src="~/js/appSettings.min.js"></script>
    <script src="~/js/emailSender.min.js"></script>
    <script src="~/js/fileLoad.min.js"></script>

    <script src="~/js/invite.min.js"></script>
    <script src="~/js/popups.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/dist/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/dist/css/dx.light.css" />
    <script src="~/lib/devextreme/dist/js/dx.all.js"></script>
    <script src="~/lib/devextreme/dist/js/dx.aspnet.mvc.js"></script>
    <script src="~/lib/devextreme/dist/js/localization/dx.messages.ru.js"></script>

    <script src="~/lib/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="~/lib/exceljs/dist/exceljs.min.js"></script>
    <script src="~/lib/file-saver/dist/FileSaver.min.js"></script>


    @*datepicker*@
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css" />

    @*<script src="~/lib/jquery-dateformat/dist/dateFormat.min.js"></script>*@
    <script src="~/lib/jquery-dateformat/dist/jquery-dateformat.min.js"></script>

    <script src="~/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            @*style="height: 50px;">*@

            <a class="navbar-brand logo float-left text-light" href="/">
                <span class="logo-img"></span>
                &nbsp;&nbsp;&nbsp;«Третий кран»<span class="slogan_cut"> – математика чистой воды</span>
            </a>

            @*<img src="~/images/tretkran-logo.png"/>*@
            @*<a class="navbar-brand" href="#">Третий кран</a>*@

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Рассылка сообщений">
                        <a id="email" style="display: none" class="nav-link text-light fa fa-envelope" onclick="initEmailSender()" data-toggle="modal" data-target="#emailSend"> Рассылка</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fa fa-user-circle-o" style="display: none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a id="profile" class="dropdown-item fa fa-sign-in" asp-area="" asp-page="/Account/Settings"> Профиль</a>
                            <a id="notification" class="dropdown-item fa fa-envelope disabled" onclick="" data-toggle="modal" data-target="#"> Управление оповещениями</a>

                            <a id="tech" style="display: none" class="dropdown-item fa fa-bar-chart" asp-area="" asp-page="/Dashboard/Index"> Кабинет техника</a>
                            <a id="admin" style="display: none" class="dropdown-item fa fa-users" asp-area="" asp-page="/Admin/Index"> Кабинет администратора</a>

                            <a id="invite" style="display: none" class="dropdown-item fa fa-vcard" onclick="openInvitePopup()" data-toggle="modal" data-target="#invitePopup"> Рассылка приглашений</a>

                            <a id="log" style="display: none" class="dropdown-item fa fa-calendar" onclick="userLogCreate()" data-toggle="modal" data-target="#userLog"> Журнал действий</a>


                            <a id="workDB" style="display: none" class="dropdown-item fa fa-database disabled" onclick="" data-toggle="modal" data-target="#"> Работа с БД</a>

                            <a id="settings" style="display: none" class="dropdown-item fa fa-cog" onclick="initAppSettings()" data-toggle="modal" data-target="#appSetingsPopup"> Настройки</a>


                            <a id="file" class="dropdown-item fa fa-download" onclick="initFilePanel()" data-toggle="modal" data-target="#fileLoad"> Загрузки</a>
                            @*<a class="dropdown-item" asp-area="" asp-page="/Account/Login">Login</a>*@
                            @*<a class="dropdown-item" href="/">Home</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item fa fa-sign-out" href="#" onclick="logout()">Выйти</a>
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>*@
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer txt0">
        <div class="container-fluid txt0">
            <p class="text-center txt0">
                <a class="txt0" href="http://3voda.ru" target="top" title="Перейти на сайт компании">© ООО «Торговый дом «Третий кран», 2018-@DateTime.Now.Year</a>
                <br />
                Техподдержка: <b>+7-992-231-30-03</b> (Viber, WhatsApp)
            </p>

            <p class="text-center">
                <a href="https://vk.com/3voda" target="_blank" title="Мы ВКонтакте"
                   class="btn btn-primary active btn-circle btn-social-icon btn-vk" role="button" aria-pressed="true">
                    <i class="fa fa-vk"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/tdtretkran/" target="_blank" title="Мы в Facebook"
                   class="btn btn-primary active btn-circle btn-social-icon btn-facebook" role="button" aria-pressed="true">
                    <i class="fa fa-facebook"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.youtube.com/channel/UCUsYs_b9OlePn7LJLmX39wA/videos?view_as=subscriber" target="_blank" title="Мы на YouTube"
                   class="btn btn-danger active btn-circle btn-social-icon" role="button" aria-pressed="true">
                    <i class="fa fa-youtube"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/tretiikran/" target="_blank" title="Мы в Instagram"
                   class="btn btn-light btn-circle btn-social-icon btn-instagram" role="button" aria-pressed="true">
                    <i class="fa fa-instagram"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>

<!-- Модальное окно приглашения пользователя -->
<div class="modal" tabindex="-1" role="dialog" id="invitePopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard text-warning"></i>&nbsp;&nbsp;Приглашение пользователя</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="inviteError" role="alert" style="display: none">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                </div>
                <div id="inviteForm"></div>
                <div id="loadpanel"></div>
                @*<div class="loadpanel"></div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" class="btn btn-primary fa fa-share-square-o " onclick="sendInvite()"> Пригласить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно журнала действий -->
<div class="modal" tabindex="-1" role="dialog" id="userLog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-calendar text-success"></i> Журнал действий</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="userLogTable"></div>
                @*<div class="loadpanel"></div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно рассылки сообщений -->
<div class="modal" tabindex="-1" role="dialog" id="emailSend">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-envelope text-warning"></i> Рассылка сообщений</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <section class="col-12 col-lg-6 col-xl-4 left">
                    <div style="padding-bottom: 11px">
                        <div id="mailTheme"></div>
                    </div>
                    <div style="padding-bottom: 30px">
                        <div id="mailBody"></div>
                    </div>
                    @*<div id="mailTheme" style="padding-bottom: 18px"></div>*@
                    @*<div id="mailBody"></div>*@
                    <button id="mailSendBtn" type="button" onclick="sendMail()" disabled class="btn btn-block btn-success fa fa-envelope"> Отправить сообщение</button>
                </section>

                <section class="col-12 col-lg-6 col-xl-4">
                    <h5 class="modal-title btn-block" style="padding-bottom: 16px; text-align: center;">Адресаты</h5>
                    <div id="mailDestTable"></div>
                    <button id="mailClearBtn" type="button" onclick="clearMailList()" disabled class="btn btn-block btn-primary fa fa-times-circle"> Очистить список</button>
                </section>

                <section class="col-12 col-lg-6 col-xl-4 right">
                    <div id="mailUsersTable"></div>
                    <button type="button" class="btn btn-block btn-secondary fa fa-ban" onclick="clearMailAll()" data-dismiss="modal"> Отмена</button>
                </section>
            </div>
            <!--<div class="modal-footer row">-->
            @*<button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>*@
            <!--<section class="col-12 col-lg-6 col-xl-4 left">
                    <button type="button" class="btn btn-block btn-success fa fa-envelope"> Отправить сообщение</button>
                </section>

                <section class="col-12 col-lg-6 col-xl-4">
                    <button id="mailClearBtn" type="button" class="btn btn-block btn-primary fa fa-times-circle"> Очистить список</button>
                </section>

                <section class="col-12 col-lg-6 col-xl-4 right">
                    <button type="button" class="btn btn-block btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                </section>
            </div>-->
        </div>
    </div>
</div>

<!-- Модальное окно файлов -->
<div class="modal" tabindex="-1" role="dialog" id="fileLoad">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-download text-warning"></i> Загрузки</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="fileLoadTable"></div>
                <input id="fileUploadWidget" type="file" name="files[]" multiple
                       data-url="/api/files"
                       data-sequential-uploads="true"
                       data-form-data='{"script": "true"}'>
                <div id="progress">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div id="div_files"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                @*<button type="button" class="btn btn-primary fa fa-share-square-o " onclick=""> Пригласить</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно подтверждения удаления файла -->
<div class="modal" tabindex="-1" role="dialog" id="deleteFilePopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-remove text-danger"></i>&nbsp;&nbsp;Внимание!</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteFileId" style="display: none" value=""></div>
                <div class="alert alert-danger" id="deleteFileError" role="alert" style="display: none">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                </div>
                <div></div>
                <div id="deleteFileCaption" style="text-align: center"></div>
                <hr />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkFile" data-toggle="toggle">
                    <label class="form-check-label" for="chkFile">
                        Вы уверены что хотите удалить этот файл?
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" id="deleteFileBtn" class="btn btn-danger fa fa-remove" disabled onclick="deleteFile()"> Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно редактирования файла -->
<div class="modal" tabindex="-1" role="dialog" id="editFilePopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование файла</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editFileId" style="display: none" value=""></div>
                <div class="alert alert-danger" id="editFileError" role="alert" style="display: none">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                </div>
                <div><b>Описание:</b></div>
                <input id="fileDsc" style="width:100%" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" id="editFileBtn" class="btn btn-primary fa fa-save" onclick="editFile()"> Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно настроек приложения -->
<div class="modal" tabindex="-1" role="dialog" id="appSetingsPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-cogs text-warning"></i>&nbsp;&nbsp;Настройки сервера</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="appSettingsFormErrors" role="alert" style="display: none">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                </div>
                <div id="appSettingsForm"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" class="btn btn-primary fa fa-save " onclick="sendAppSettings()"> Сохранить</button>
            </div>
        </div>
    </div>
</div>


<style>
    #userLogTable .dx-toolbar .dx-texteditor {
        width: 100% !important;
    }

    #userLogTable .dx-toolbar .dx-toolbar-after {
        padding-left: 0;
        width: 100% !important;
    }

    #userLogTable .dx-datagrid-search-panel {
        margin-left: 0;
    }

    .modal-lg {
        width: 80% !important;
        max-width: 80% !important;
    }

    .modal-mg {
        width: 50% !important;
        max-width: 50% !important;
    }

    .bar {
        height: 18px;
        background: green;
    }
</style>

<script>
    var roles = [
        {
            name: "technician",
            view: "Техник"
        },
        {
            name: "owner",
            view: "Владелец"
        },
        {
            name: "dealer_admin",
            view: "Администратор дилера"
        },
        {
            name: "dealer",
            view: "Дилер"
        },
        {
            name: "admin",
            view: "Администратор"
        }
    ];
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(function () {
        const menu = document.getElementById("navbarDropdown");
        const request = $.getJSON('/api/account', null);
        request.done(function (user) {
            const strData = JSON.stringify(user);
            sessionStorage.setItem(accountKey, strData);
            const name = ` ${getUserName(user)}`;
            menu.style.display = "block";
            //$('#navbarDropdown').show();
            menu.innerHTML = ` ${name}`;
            var techD = document.getElementById("tech");
            var adminD = document.getElementById("admin");
            var inv = document.getElementById("invite");
            var log = document.getElementById("log");
            var email = document.getElementById("email");
            var workDb = document.getElementById("workDB");
            var settings = document.getElementById("settings");
            email.style.display = "block";
            if (!user.role) window.location.replace("/");
            switch (user.role) {
                case "technician":
                    techD.style.display = "block";
                    adminD.style.display = "none";
                    inv.style.display = "none";
                    log.style.display = "none";
                    roles = null;
                    break;
                case "owner":
                    adminD.innerText = " Кабинет владельца";
                    techD.style.display = "block";
                    adminD.style.display = "block";
                    inv.style.display = "block";
                    log.style.display = "none";

                    roles.splice(-1, 1);
                    roles.splice(-1, 1);
                    roles.splice(-1, 1);
                    roles.splice(-1, 1);
                    break;
                case "dealer_admin":
                    adminD.innerText = " Кабинет админа дилера";
                    techD.style.display = "none";
                    adminD.style.display = "block";
                    inv.style.display = "block";
                    log.style.display = "none";

                    roles.splice(-1, 1);
                    roles.splice(-1, 1);
                    break;
                case "dealer":
                    adminD.innerText = " Кабинет дилера";
                    techD.style.display = "none";
                    adminD.style.display = "block";
                    inv.style.display = "block";
                    log.style.display = "none";

                    roles.splice(-1, 1);
                    roles.splice(-1, 1);
                    break;
                case "admin":
                    adminD.innerText = " Кабинет админа";
                    techD.style.display = "none";
                    adminD.style.display = "block";
                    inv.style.display = "block";
                    log.style.display = "block";
                    workDb.style.display = "block";
                    settings.style.display = "block";
                    break;
                case "super_admin":
                    adminD.innerText = " Кабинет супер-админа";
                    techD.style.display = "none";
                    adminD.style.display = "block";
                    inv.style.display = "block";
                    log.style.display = "block";
                    workDb.style.display = "block";
                    settings.style.display = "block";
                    break;
            }
        });
        //$('#navbarDropdown').toggle();
        //const accStr = sessionStorage.getItem(accountKey);
        //if (accStr) {
        //    const acc = JSON.parse(accStr);

        //}
    });

</script>
