.dashboard {
    padding-top: 20px;
    background: #fff;
    /*min-height: calc(100vh);*/
    /*overflow: auto;*/
    /*max-height: 100vh;*/
    min-height: calc(100vh - 170px); /* 150px*/
/*    height: calc(100vh);*/
}

.dashboard_header-device_id {
    padding: 3px 5px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard_header-device_address {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-top: 5px;
}

.dashboard_header-device_status {
    opacity: 1 !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 9px;
}

.dashboard_header-device_edit {
    padding-left: 0;
}

.dashboard_graph-legend_money {
    color: #ff6699;
    padding-right: 5px;
}

.dashboard_graph-legend_sold {
    color: #003399;
    padding-right: 5px;
}

.dashboard_graph-term_button {
    /*width: 170px;*/
    flex-grow: 1;
    padding: 2px;
}

.dashboard_device-list_selected {
    background: lightcyan !important;
}

.dashboard-sales_wrapper::after {
    display: block;
    background: #fff;
    position: sticky;
    content: '';
    height: 20px;
    bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0), #fffdec);
}

.dashboard-sales_wrapper {
    max-height: 100px;
    overflow: hidden;
}

.no-device-alert {
    margin-top: 150px;
    margin-bottom: 100px;
}

.dashboard_graph-term_selector {
    margin-top: 10px;
    font-style: normal;
}

.dashboard-sales_tooltip {
    margin-left: 5px;
}

.dashboard_device_list-alerts {
    padding: 0.75rem 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard_device_list-item_address {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    max-height: 45px;
    margin-bottom: 10px;
    display: block;
    padding: 0.75rem 5px;
}

.dashboard_device_list-item_imei {
    padding: 0.75rem 5px;
}

.dashboard_device_list-header {
    padding: 0.75rem 5px;
}

.coin {
    background-color: yellow;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: solid darkorange 2px;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    padding: 1px 1px 0px 0px;
    line-height: 15px;
    font-size: small;
    font-weight: bold;
    color: darkorange;
    margin-left: -10px;
}

.bill {
    background-color: lightgreen;
    display: inline-block;
    width: 30px;
    height: 22px;
    border: solid darkgreen 2px;
    position: relative;
    top: 0;
    left: 0;
    padding: 1px 1px 0px 0px;
    line-height: 15px;
    font-size: small;
    font-weight: bold;
    color: darkgreen;
    margin-left: -15px;
}

@media only screen and (max-width: 480px) {
    .slogan_cut {
        display: none;
    }
}

/* Блок со списком */
.dashboard-short_list_header {
    background: #6c757d;
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.dashboard-short_list_body {
    border: 1px solid #d9d9d9; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    background: #fffdec;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.dashboard_graph-legend_item {
    white-space: nowrap;
}
