@page
@model ThirdVendingWebApi.Pages.Dashboard.IndexModel
@{
  ViewData["Title"] = "Кабинет техника";
}

<style>
    #deviceTable .dx-toolbar .dx-texteditor {
        width: 100% !important;
    }

    #deviceTable .dx-toolbar .dx-toolbar-after {
        padding-left: 0;
        width: 100% !important;
    }

    #deviceTable .dx-datagrid-search-panel {
        margin-left: 0;
    }

    .lbl-txt { line-height: 9px; }

    /*.dx-datagrid-headers {*/

    /*background-color: yellow;*/

    /*}*/

    .dx-datagrid-headers .dx-datagrid-text-content {
        text-align: center !important;
        vertical-align: middle !important;
        /*margin: auto;*/
        font-size: 14px !important;
        color: black !important;
        padding: 0 !important;
    }

</style>
<!-- Модальное окно показа полного списка аварий и событий -->
<div class="modal" tabindex="-1" role="dialog" id="alertsPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupTitle"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;&nbsp;Аварии за период</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="dateRangePicker">
                </div>
                <small class="form-text text-muted">
                    Задайте календарный диапазон
                </small>
                <div id="gridAlerts"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary fa fa-file-excel-o" onclick="openDownloadFileDialog()"> Экспорт</button>
                <button type="button" class="btn btn-secondary fa fa-times" data-dismiss="modal"> Закрыть</button>
            </div>
        </div>
    </div>
</div>

@*<div id="popup"></div>*@

<div class="row dashboard">
<section class="col-12 col-lg-4 order-lg-1 left" style="height: 650px">
    <div id="deviceTable"></div>
    <br/>
    <div class="row">
        <div class="col" style="display: none">
            <span data-toggle="tooltip" data-placement="top" title="Обновить информацию">
                <button onclick="updatePage()"
                        class="btn btn-info btn-sm mb-3">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;Обновить
                </button>
            </span>
        </div>

        <div class="col" align="right">
            <span data-toggle="tooltip" data-placement="top" title="Добавить (зарегистрировать) автомат">
                <button onclick="addDevice(null)" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#popupDevice">
                    <i class="fa fa-plus-square"></i>&nbsp;&nbsp;Добавить автомат
                </button>
            </span>
        </div>
    </div>
</section>


<!-- Правая колонка -->
<section class="col-12 col-lg-8 order-lg-2 right">
<!-- Вложенная сетка 1 -->
<div class="row">
    <!-- Шапка автомата -->
    <div class="col-sm-3">
        <div id="strId" class="dashboard_header-device_id badge-info lead rounded text-center">
            ID:
        </div>
    </div>
    <div id="strAddress" class="col-sm-5 dashboard_header-device_address"></div>
    <div class="col-sm-4 d-flex btn-group text-white">
        <span id="lblNoLink" style="display: none" class="btn btn-danger flex-grow-1 disabled dashboard_header-device_status">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;Нет связи
        </span>
        <span id="lblTankEmpty" style="display: none" class="btn btn-danger flex-grow-1 disabled dashboard_header-device_status">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;Бак пуст
        </span>
        <span id="lblNoSales" style="display: none" class="btn btn-warning flex-grow-1 disabled dashboard_header-device_status">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;Нет продаж<br>
            <small id="lblClrStatu1"></small>
        </span>
        <span id="lblInWork" *ngSwitchDefault style="display: none" class="btn btn-success flex-grow-1 disabled dashboard_header-device_status">
            <i class="fa fa-check"></i>&nbsp;В работе<br>
            <small id="lblClrStatu2"></small>
        </span>

        <!-- Кнопка вызова окна редактирования данных автомата -->
        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Редактировать
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#popupDevice" onclick="addDevice(device, 'devMetricsAdd')"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;Профиль</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#popupDevSettings" onclick="devSettings(device)"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Техн. настройки</a>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- График динамики продаж (начало) -->
<h4 class="mt-2"><i class="fa fa-bar-chart-o text-warning"></i>&nbsp;&nbsp;Динамика продаж</h4>
<div class="row">
    <div class="col-12 col-md-9 col-xl-8 mt-2">
        <div id="saleChart"></div>
    </div>
    <div class="col-12 col-md-3 col-xl-4 mt-2">
        <div class="col">
            <div class="dashboard_graph-legend_item">
                <span class="dashboard_graph-legend_money">
                    <i class="fa fa-square"></i>
                </span>
                <span>Выручка:</span>
                <span class="lead text-white bg-success rounded pb-1 pl-3 pr-3" id="totalMoney">
                </span>
            </div>
            <div class="dashboard_graph-legend_item">
                <span class="dashboard_graph-legend_sold">
                    <i class="fa fa-square"></i>
                </span>
                <span>Продано:</span>
                <span id="totalSold"></span>
            </div>
        </div>
        <!-- Кнопки по периодам -->
        <div class="col dashboard_graph-term_selector btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary dashboard_graph-term_button">
                <input type="radio" onchange="periodChange(this)" value="DAYS"><i class="fa fa-calendar-check-o"></i>&nbsp;День
            </label>
            <label class="btn btn-outline-secondary dashboard_graph-term_button active">
                <input type="radio" onchange="periodChange(this)" value="MONTHS" checked><i class="fa fa-moon-o"></i>&nbsp;Месяц
            </label>
            <label class="btn btn-outline-secondary dashboard_graph-term_button">
                <input type="radio" onchange="periodChange(this)" value="YEARS"><i class="fa fa-calendar"></i>&nbsp;Год
            </label>
        </div>
        <div class="p-3" id="devMetrics">
        </div>
    </div>
</div>
<!-- График динамики продаж (конец) -->

<!-- Вложенная сетка 2 -->
<!-- Колонка для списка продаж -->
<div class="row small">
    <div class="col-12 col-sm-6 col-xl-4 mt-2">
        <div class="dashboard-short_list_header"><i class="fa fa-shopping-cart text-warning"></i>&nbsp;&nbsp;Продажи</div>

        <div class="dashboard-short_list_body">
            <!-- Список последних продаж -->
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="saleCash">
                    <i class="fa fa-money text-success" id="saleCash"></i>&nbsp;Наличн.
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="saleCashless">
                    <i class="fa fa-credit-card text-warning text-center" id="saleCashless"></i>&nbsp;Картой
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="saleDepo">
                    <i class="fa fa-cloud-upload text-danger text-center" id="saleDepo"></i>&nbsp;Пополн.
                </label>
            </div>

            <hr>
            <div class="dashboard-sales_wrapper">
                <div id="tbSales"></div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <span data-toggle="tooltip" data-placement="top" title="Показать весь список продаж">
                <button class="btn btn-primary btn-sm mt-3 mb-2" type="button" onclick="popupSales()">
                    <i class="fa fa-arrows-v"></i>&nbsp;Показать все
                </button>
            </span>
        </div>
    </div>

    <!-- Колонка для списка инкассаций -->
    <div class="col-12 col-sm-6 col-xl-4 mt-2">
        <div class="dashboard-short_list_header">
            <i class="fa fa-truck text-warning"></i>&nbsp;&nbsp;Инкассации
        </div>
        <div class="dashboard-short_list_body">
            <!-- Список последних инкассаций -->
            <div class="text-center">
                <i class="fa fa-money text-success"></i>&nbsp;Купюрами&nbsp;/&nbsp;<i class="fa fa-database text-warning"></i>&nbsp;Монетами
            </div>
            <hr>
            <div class="dashboard-sales_wrapper">
                <div id="tbEncash"></div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--&lt;!&ndash; Кнопка вызова модального окна с полным списком инкассаций &ndash;&gt;-->
            <span data-toggle="tooltip" data-placement="top" title="Показать весь список инкассаций">
                <button class="btn btn-primary btn-sm mt-3 mb-2" type="button" onclick="popupEncash()">
                    <i class="fa fa-arrows-v"></i>&nbsp;Показать все
                </button>
            </span>
        </div>

    </div>

    <!-- Колонка для списка аварий -->
    <div class="col-12  col-sm-6 col-xl-4 mt-2" style="height: 380px">
        <div class="dashboard-short_list_header"><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;&nbsp;Аварии</div>
        <div class="dashboard-short_list_body">
            <!-- Список последних аварий -->
            <div class="text-center">
                <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>&nbsp;Критично!&nbsp;&nbsp;&nbsp;<i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>&nbsp;Внимание!
            </div>
            <hr>
            <div class="dashboard-sales_wrapper">
                <div id="tbAlerts"></div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <span data-toggle="tooltip" data-placement="top" title="Показать весь список аварий">
                <button class="btn btn-primary btn-sm mt-3 mb-2" type="button" onclick="popupAlerts()">
                    <i class="fa fa-arrows-v"></i>&nbsp;Показать все
                </button>
            </span>
        </div>
    </div>
</div>
</section>
</div>

<div class="modal" tabindex="-1" role="dialog" id="popupDevice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerAddDevice"><i class="fa fa-list-ul text-secondary"></i>&nbsp;&nbsp;Добавить (зарегистрировать) автомат</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="popupDevId" style="display: none" value=""></div>
                <div class="alert alert-danger" id="errors" style="display: none">
                    <i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;
                    <strong>Errors</strong>
                </div>
                <div id="deviceForm"></div>
            </div>
            <div class="modal-footer">
                <span id="devMetricsAdd"></span>
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Отмена</button>
                <button type="button" id="btnAddDevice" class="btn btn-primary fa fa-plus-square" onclick="addOrEditDevice()"> Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="popupDevSettings">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-wrench text-secondary"></i>&nbsp;&nbsp;Технические настройки автомата</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deviceSettingsForm"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-ban" data-dismiss="modal"> Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    const accStr = sessionStorage.getItem(accountKey);
    if (!accStr) {
        window.location.replace("/Account/Login");
    }
    var user = JSON.parse(accStr);
    var role = user.role;
    if (role.toLowerCase().indexOf("admin") >= 0) window.location.replace("/Admin");
    if (role.toLowerCase().indexOf("dealer") >= 0) window.location.replace("/Admin");

    function addOrEditDevice() {
        postDevice().then(function(data) {
            if (data === true) updateDevicesList();
        });
    }

    setInterval(function() {
            updatePage();
        },
        10000);

    var period = "MONTHS";
    var device;

    function updatePage() {
        updateDevicesList();
        if (device) updateDevice(device.id);
    }

    function updateDevicesList() {
        var dataGrid = $("#deviceTable").dxDataGrid('instance');
        if (!dataGrid) return;
        var focusedRowKey = dataGrid.option('focusedRowKey');

        $.getJSON("/api/devices", null)
            .then(function(data) {
                $("#deviceTable").dxDataGrid('instance').option('dataSource', data);

                    setDevice(data, focusedRowKey);
                    if (focusedRowKey) dataGrid.option("focusedRowKey", focusedRowKey);
                    else {
                        dataGrid.option("focusedRowKey", data[0].id);
                    }
                },
                function(res) {
                    if (res.status === 401 || res.status === 403) logout();
                });
    }

    function setDevice(data, key) {
        if (!data || ! key) return;
        data.forEach(function(h) {
            if (h["id"] === key) device = h;
        });
    }

    function updateDevice(id) {
        getSales(id);
        getEncashes(id);
        getAlerts(id);
        updateInfo();
        getInfos(id, "devMetrics");
        chartDrow(period);
    }

    $(function() {
        $("#deviceTable").dxDataGrid({
            showColumnLines: true,
            focusedRowEnabled: true,
            showRowLines: true,
            keyExpr: "id",
            columnAutoWidth: false,
            columnFixing: { enabled: false },
            cellHintEnabled: true,
            paging: { pageSize: 11 },
            pager: {
                showInfo: true,
                infoText: 'Страница {0} из {1} ({2} автоматов)'
            },
            showBorders: true,
            wordWrapEnabled: false,
            selection: { mode: 'none' },
            height: 521,
            hoverStateEnabled: true,
            loadPanel: { enabled: false },
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true,
                placeholder: "Начните вводить адрес автомата или IMEI...",
                width: '100%'
            },
            onFocusedRowChanging: function(e) {
                var rowsCount = e.component.getVisibleRows().length;
                const pageCount = e.component.pageCount();
                const pageIndex = e.component.pageIndex();
                const key = e.event && e.event.key;

                if (key && e.prevRowIndex === e.newRowIndex) {
                    if (e.newRowIndex === rowsCount - 1 && pageIndex < pageCount - 1) {
                        e.component.pageIndex(pageIndex + 1).done(function() {
                            e.component.option("focusedRowIndex", 0);
                        });
                    } else if (e.newRowIndex === 0 && pageIndex > 0) {
                        e.component.pageIndex(pageIndex - 1).done(function() {
                            e.component.option("focusedRowIndex", rowsCount - 1);
                        });
                    }
                }
            },
            onFocusedRowChanged: function(e) {
                device = e.row && e.row.data;
                if (device) {
                    document.getElementById("strId").innerText = `ID: ${device.imei}`;
                    document.getElementById("strAddress").innerText = device.address;

                    updateDevice(device.id);
                }
            },
            onCellPrepared: function(options) {
                var fieldHtml;
                const column = options.column;
                if (options.rowType === "data" && column.dataField === "alerts") {
                    const dev = options.data;
                    fieldHtml = '<i class="fa fa-check text-success"></i> В работе';
                    if (dev.alerts && (jQuery.inArray("NO_SALES", dev.alerts) !== -1)) fieldHtml = '<i class="fa fa-exclamation-triangle text-warning"></i> Нет продаж';

                    if (!dev.lastStatus || (dev.alerts && (jQuery.inArray("NO_LINK", dev.alerts) !== -1))) fieldHtml = '<i class="fa fa-exclamation-triangle text-danger"></i> Нет связи';

                    if (dev.alerts && (jQuery.inArray("TANK_EMPTY", dev.alerts) !== -1)) fieldHtml = '<i class="fa fa-exclamation-triangle text-danger"></i> Бак пуст';
                    options.cellElement.html(fieldHtml);
                }
            },
            columns: [
                {
                    width: 130,
                    dataField: "imei",
                    allowSorting: false,
                    caption: "IMEI",
                    headerCellTemplate: function(header, info) {
                        setHeader(header, info);
                    }
                },
                {
                    allowSorting: false,
                    dataField: "address",
                    caption: "Адрес автомата",
                    dataType: "string",
                    headerCellTemplate: function(header, info) {
                        setHeader(header, info);
                    }
                },
                {
                    width: 120,
                    minWidth: 100,
                    allowSorting: false,
                    dataField: "alerts",
                    caption: "Состояние",
                    headerCellTemplate: function(header, info) {
                        setHeader(header, info);
                    }
                },
                {
                    width: 30,
                    minWidth: 30,
                    headerCellTemplate: function(header, info) {
                        setHeader(header, info);
                    },
                    type: "buttons",
                    buttons: [
                        {
                            hint: "Удалить",
                            cssClass: "fa fa-window-close text-danger",
                            onClick: function(e) {
                                const row = e.row.data;
                                const id = row.id;
                                if (!id) return;

                                DevExpress.ui.dialog.custom({
                                    title: `Удаление автомата ${row.imei}`,
                                    messageHtml: 'Вы уверены, что хотите удалить этот автомат из списка?',
                                    buttons: [
                                        {
                                            text: "Отмена",
                                            icon: 'fa fa-ban',
                                            onClick: function() {
                                                return {
                                                    dialogResult: false
                                                }
                                            }
                                        },
                                        {
                                            text: "Удалить",
                                            type: "danger",
                                            icon: 'fa fa-remove',
                                            onClick: function() {
                                                return {
                                                    dialogResult: true
                                                }
                                            }
                                        }
                                    ]
                                }).show().done(function(dialogResult) {
                                    if (dialogResult) {
                                        $.deleteObj(`/api/device/${id}`).then(function() {
                                                updateDevicesList();
                                            },
                                            function() {
                                                updateDevicesList();
                                            });
                                        return;
                                    }
                                });
                            }
                        }
                    ]
                }
            ]
        });
        updateDevicesList();
        datePickerInite();
    });

    function updateInfo() {
        const tm = document.getElementById("totalMoney");
        const ts = document.getElementById("totalSold");

        if (device && device.lastStatus) {
            if (user.role === 'technician') {
                if (user.commerceVisible) {
                    tm.innerHTML = `${device.lastStatus.totalMoney} ${getCurrencySign(device)}`;
                    ts.innerHTML = `${device.lastStatus.totalSold} л.`;
                }
            } else {
                tm.innerHTML = `${device.lastStatus.totalMoney} ${getCurrencySign(device)}`;
                ts.innerHTML = `${device.lastStatus.totalSold} л.`;
            }
        } else {
            tm.innerHTML = '';
            ts.innerHTML = '';
        }

        if (!device.lastStatus || (device.alerts && (jQuery.inArray("NO_LINK", device.alerts) !== -1))) {
            document.getElementById("lblNoLink").style.display = "block";
            document.getElementById("lblTankEmpty").style.display = "none";
            document.getElementById("lblNoSales").style.display = "none";
            document.getElementById("lblInWork").style.display = "none";
        } else if (device.alerts && (jQuery.inArray("TANK_EMPTY", device.alerts) !== -1)) {
            document.getElementById("lblNoLink").style.display = "none";
            document.getElementById("lblTankEmpty").style.display = "block";
            document.getElementById("lblNoSales").style.display = "none";
            document.getElementById("lblInWork").style.display = "none";
        } else if (device.alerts && (jQuery.inArray("NO_SALES", device.alerts) !== -1)) {
            document.getElementById("lblNoLink").style.display = "none";
            document.getElementById("lblTankEmpty").style.display = "none";
            document.getElementById("lblNoSales").style.display = "block";
            document.getElementById("lblInWork").style.display = "none";
        } else {
            document.getElementById("lblNoLink").style.display = "none";
            document.getElementById("lblTankEmpty").style.display = "none";
            document.getElementById("lblNoSales").style.display = "none";
            document.getElementById("lblInWork").style.display = "block";
        }
        if (device.lastCleanerStatus) {
            var msg;
            switch (device.lastCleanerStatus.status) {
            case 0:
                msg = 'Полный бак';
                break;
            case 1:
                msg = 'Фильтрация';
                break;
            case 2:
                msg = 'Промывка';
                break;
            case 3:
                msg = 'Нет воды';
                break;
            case 4:
                msg = 'Затопление';
                break;
            case 5:
                msg = 'Настройка';
                break;
            default:
                msg = 'Неизвестно';
                break;
            }
            document.getElementById("lblClrStatu1").innerText = msg;
            document.getElementById("lblClrStatu2").innerText = msg;
        } else {
            document.getElementById("lblClrStatu1").innerText = "";
            document.getElementById("lblClrStatu2").innerText = "";
        }
    }

    function getAlerts(id) {
        $.getJSON(`/api/alerts?deviceId=${id}`, null)
            .then(function(data) {
                if (data == null || data.count === 0) return;

                var alertList = [];
                data.forEach(function(h) {
                    var i = '';
                    const dd = $.format.date(h["messageDate"], "dd.MM HH:mm");
                    switch (h["codeType"]) {
                    case 0:
                        i = `<div><i class="fa fa-exclamation-triangle text-warning"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;Нет продаж</div>`;
                        break;
                    case -1:
                        i = `<div><i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;Нет связи</div>`;
                        break;
                    case -2:
                        i = `<div><i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;Бак пуст</div>`;
                        break;
                    }
                    alertList.push(i);
                });
                alertList.push('<br/>');
                alertList.push('<br/>');
                alertList.push('<br/>');
                alertList.push('<br/>');
                alertList.push('<br/>');
                const header = document.getElementById("tbAlerts");
                header.innerHTML = alertList.join("");
            });
    }

    function getSales(id) {
        $.getJSON(`/api/sales/info?deviceId=${id}`, null)
            .then(function(data) {
                if (data == null || data.count === 0) return;

                var salesList = [];
                data.forEach(function(h) {
                    //todo add toltip
                    var i = '';
                    const dd = $.format.date(h["messageDate"], "dd.MM HH:mm");
                    const currency = getCurrencySign(device);
                    var mon = "";
                    if (h["amountCash"]) mon = h["amountCash"].toFixed(2) + currency;

                    var lt = "";
                    if (h["quantity"]) lt = h["quantity"].toFixed(2) + "л./";

                    var card = "";
                    if (h["amountCard"]) card = h["amountCard"].toFixed(2) + currency;

                    switch (h["paymentType"]) {
                    case 0:
                        i = `<div><i class="fa fa-money text-success"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;${lt + mon}</div>`;
                        break;
                    case 1:
                        i = `<div><i class="fa fa-credit-card text-warning"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;${lt + card}</div>`;
                        break;
                    case -1:
                        i = `<div><i class="fa fa-cloud-upload text-danger"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;${mon}</div>`;
                        break;
                    }
                    salesList.push(i);
                });
                salesList.push('<br/>');
                salesList.push('<br/>');
                salesList.push('<br/>');
                salesList.push('<br/>');
                salesList.push('<br/>');
                const header = document.getElementById("tbSales");
                header.innerHTML = salesList.join("");
            });
    }

    function getEncashes(id) {
        $.getJSON(`/api/encash?deviceId=${id}`, null)
            .then(function(data) {
                if (data == null || data.count === 0) return;

                var encashList = [];
                data.forEach(function(h) {
                    //todo add toltip
                    const dd = $.format.date(h["messageDate"], "dd.MM HH:mm");
                    var encash = "";
                    if (h["amount"]) encash = h["amount"].toFixed(2);
                    const i = `<div><i class="fa fa-truck text-warning"></i>&nbsp;&nbsp;${dd}&nbsp;&ndash;&nbsp;${encash}${getCurrencySign(device)}</div>`;


                    encashList.push(i);
                });

                encashList.push('<br/>');
                encashList.push('<br/>');
                encashList.push('<br/>');
                encashList.push('<br/>');
                encashList.push('<br/>');
                const header = document.getElementById("tbEncash");
                header.innerHTML = encashList.join("");
            });
    }

    function periodChange(selectObject) {
        period = selectObject.value;
        chartDrow(period);
    }

    function chartDrow(period) {
        $.getJSON(`/api/sales-graph/${device.id}?period=${period}`, null)
            .then(function(data) {
                var timeFormat = "HH";
                var ti = "hour";
                var mi = "minutes";
                switch (period) {
                case "MONTHS":
                    timeFormat = "dd";
                    ti = "day";
                    mi = "hour";
                    break;
                case "YEARS":
                    timeFormat = "MMM";
                    ti = "month";
                    mi = "day";
                    break;
                }

                $("#saleChart").dxChart({
                    dataSource: data,
                    size: {
                        height: 200,
                        width: "100%"
                    },
                    commonSeriesSettings: {
                        argumentField: "date",
                        barPadding: 0.0,
                        type: "bar",
                        hoverMode: "allArgumentPoints",
                        selectionMode: "allArgumentPoints",
                    },
                    series: [
                        { valueField: "amount", name: "Выручка", color: "#ff6699" },
                        { valueField: "quantity", name: "Продано", color: "#003399" }
                    ],
                    legend: {
                        verticalAlignment: "bottom",
                        horizontalAlignment: "center",
                        visible: false
                    },
                    argumentAxis: {
                        argumentType: "datetime",
                        label: {
                            format: timeFormat
                        },
                        tickInterval: ti
                    },
                    tooltip: {
                        enabled: true
                    }
                });
            });
    }
</script>